/* ボディ部分 */
body {
  background-color: #dff4ff;
}
/* ラッパー部分　*/
#wrapper {
	background-color: white;
	min-width: 80%;
}
/* コンテンツ部分　*/
#content {
	width: 1150px;
	min-height: 100px;
	display: inline-block;
}
/* コンテンツメイン部分　*/
#content_main {
	width: 800px;
	min-height: 100px;
}
/* コンテンツサブ部分　*/
#content_sub {
	width: 300px;
	min-height: 100px;
}
/* 記事一覧のarticle */
#content_main .article {
	height: 250px;
	margin-top: 20px;
}
/* 記事一覧のfigure */
#content_main .article figure {
	float: left;
	height: 250px;
	width: 250px;
	margin: 0;
}
/* 記事一覧のimg */
#content_main .article figure img {
	border-radius: 5px;
	height: 250px;
	width: 250px;
}
/* 記事一覧の詳細部分 */
.article-info {
	display: inline-block;
	padding-left: 50px;
	width: 500px;
}
/* 記事一覧のタイトル */
.article-info h1 {
	margin-top: 0px;
	margin-bottom: 1.2rem;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;

	line-height: 1.5;
	max-height: 4.5em;
}
/*　カテゴリータグ　*/
#content_main .article-category {
	background-color: #FFF687;
	border-radius: 15px;
	color: #000000;
	padding: 5px 8px 5px 8px;
}
/*　投稿日　*/
#content_main .article-date {
	color: #8B8B8B;
	margin-left: 1rem;
}
/* 記事冒頭の紹介文 */
.article-info p {
	color: #8B8B8B;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;

	line-height: 1.5;
	max-height: 4.5em;
}
/*　ページネーション　*/
#pagination {
	margin-top: 70px;
	padding-left: 0px;
	text-align: center;;
}

#pagination li {
	background-color: #fff;
	border: 1px solid #D5D5D5;
	border-radius: 21px;
	color: #7D7D7D;
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	height: 42px;
	margin-left: 10px;
	text-align: center;;
	width: 42px;
}
.search{
	text-align: left;
}
.searches{
	width: 300px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: #4169e1;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #4169e1;
}
.searchs{
	width: 100px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: #4169e1;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #4169e1;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
.sort{
	width: 150px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: #4169e1;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #4169e1;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
.submission{
	text-align:right;
}
.btn_div {
	display: inline-block;
	width:calc(100% - 660px);
	text-align: right;
}
.btn{
	width: 300px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: white;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #414BB2;
	border: 1px solid #4169e1;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}
/* 絞り込み機能に関して */
/* 「.Gap-top」から「#narrow_menu」まで */
/* htmlファイルのクラスの設定の仕方は「question_index.css」を参考にする */
.oya {
	position: absolute;
	left: 0;
	right: 0;
	width: 80%;
	margin: auto;
}

.ko1 {
	display: flex;
	padding-top: 10px;
}

.search_div {
    display: inline-block;
    width: 25%;
    min-width: 150px;
}

.box_search {
    width: 93.7%;
    margin: 0px;
    padding: 0px;
}

.btn_search_div {
    display: inline-block;
    width: 10%;
    min-width: 50px;
    text-align: center;
}

.btn_search {
    width: 83%;
    margin: 0px;
    padding: 0px;

}

.cp_ipselect_div{
    display: inline-block;
    width: 15%;
    min-width: 100px;
    text-align: center;
}

.cp_ipselect {
    width: 81%;
    height: 50px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #414BB2;
    background: #ffffff;
    margin: 0px;
    padding: 0px;
}

.btn_div {
    display: inline-block;
    width:50%;
    text-align: right;

}

.a_btn {
    
    margin: 0px;
    padding: 13px 5%;
}

.Gap-top {
	padding-top: 10px;
}

.ko2 {
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #414BB2;
}
#menu1 {
    display: inline-block;
    margin: 2%;
}

#menu1 div{
    display: inline-block;
    margin-right: 1%;
}
.ko3 {
	width: 100%;
	margin-top: 3%;
	text-align: center;
}

.ko3 li{
	display: inline-block;
	width: 50px;
	background-color: #ffffff;
	border: 1px solid #414BB2;
}
