/* タブ１ */
.area {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
.tab_class {
    width: calc(100%/5);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}
input[name="tab_name"] {
    display: none;
}
input:checked + .tab_class {
    background-color: #414BB2;
    color: aliceblue;
    font-weight: bold;
}

.content_class {
    display: none;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
	position: relative;
	padding: 1rem;
}

input:checked + .tab_class + .content_class {
    display: block;
}

/* タブ2 */

.tab-wrap {
	background: White;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
}

.tab-label {
	color: Gray;
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
    border-top: 2px dashed #2196F3;
}

.tab-label:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch:checked + .tab-label {
	color: #2196F3;
}

.tab-label::after {
	background: #2196F3;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	padding: 0 20px;
	pointer-events:none;
	transform: translateX(-30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}

/* タブ以外 */
.content_top {
    display: flex;
}

.flex_new_line {
    flex-wrap: wrap;
}

.title {
    display: inline-block;
	margin: 1rem auto;
	padding: 1rem 1rem 0;
	color: #414BB2;
	font-weight: bold;
    font-size: 2rem;
	letter-spacing: 0.5pt;
}

.content_top_text {
    text-decoration: underline;
	display: inline-block;
	padding-right: 1rem;
	margin-top: 3rem;

	/* アイコンについて */
	background-color: #fff;
	background-position: left 3.8rem bottom 0.3rem;
	background-repeat: no-repeat;
	background-size: 10%;
	background-image: url(../images/user_icon_maru_1.png);
}

.images_list {
	margin-top: 2rem;
	display: flex;
}

.production_image {
	height: 200px;
	margin: 2rem 1rem 4rem;
}

/* その他 */
.inline_block {
	display: inline-block;
}

.search_area {
	margin: 1rem;
}

/* コメント機能 */
.content_comment {
	margin: 1rem;
    background-color: white;
    color: #333;
    text-decoration: none;
    text-align: left;
	border: solid 3px #414BB2;;
}

.comment_number {
	margin-left: 1rem;
	display: inline-block;
}

.comment_icon {
    width: 5%;
    height: 5%;
    display: inline-block;
	position: relative;
	top: 10px;
}

.comment_text {
	margin-right: 1rem;
	display: inline-block;
}

.comment_text2 {
	margin-left: 1rem;
}

/*　ページネーション　*/
#pagination {
	text-align: center;
}

#pagination li {
	background-color: #fff;
	border: 1px solid #D5D5D5;
	border-radius: 21px;
	color: #7D7D7D;
	display: inline-block;
	font-weight: bold;
	height: 2rem;
	margin-left: 10px;
	text-align: center;
	width: 2rem;
}

.btn_edit {
	position:absolute;
	right:0;
	margin: 1rem;
}

/* コメント投稿に関するクラスなど */

textarea:focus {
	border-color: #56a9ff;
	outline: 0;
}

.contact-table {
	width: 90%;
	margin: 1rem;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.contact-item {
    text-align: left;
    width: 15%;
    background-color: #eee;
}

.contact-body {
    width: 85%;
}

.form-textarea {
    width: 96%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact-submit {
	width: 250px;
	background-color: #414BB2;
	color: #fff;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	padding: 15px;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
  }