.oya {
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    min-width: 480px;
    margin: auto;
}

.ko1 {
    display: flex;
    padding-top: 10px;
}

.search_div {
    display: inline-block;
    width: 25%;
    min-width: 150px;
}

.box_search {
    width: 93.7%;
    margin: 0px;
    padding: 0px;
}

.btn_search_div {
    display: inline-block;
    width: 10%;
    min-width: 50px;
    text-align: center;
}

.btn_search {
    width: 83%;
    margin: 0px;
    padding: 0px;

}

.cp_ipselect_div{
    display: inline-block;
    width: 15%;
    min-width: 100px;
    text-align: center;
}

.cp_ipselect {
    width: 81%;
    height: 50px;
    position: relative;
    border-radius: 2px;
    border: 1px solid #414BB2;
    background: #ffffff;
    margin: 0px;
    padding: 0px;
}

.btn_div {
    display: inline-block;
    width:50%;
    text-align: right;

}

.a_btn {
    
    margin: 0px;
    padding: 13px 4%;
}

.Gap-top {
    padding-top: 10px;
}

.ko2 {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #414BB2;
}

#menu1 {
    display: inline-block;
    margin: 2%;
}

#menu1 div{
    display: inline-block;
    margin-right: 1%;
}

.ko3 {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.ko3 li{
    display: inline-block;
    width: 50px;
    background-color: #ffffff;
    border: 1px solid #414BB2;
}

.ko4 {
    display: flex;
    width: 100%;
    height: 10vw;
    min-height: 150px;
    background-color: #ffffff;
    border: 2px solid #414BB2;
}

.image_td {
    width: 25%;
    height: 100%;
    border: 1px solid #414BB2;
}

.image {
    width: 100%;
    height:  100%;
}

.midasi_td {
    width: 75%;
    height: 100%;
}

.a_link {
    display: block;
    width: 100%;
    height: 80%;
    text-decoration: none;
}

.time_span_div {
    height: 17%;
}

.time_span {
    position: relative;
    left: 2%;
}

.flex_div {
    display: flex;
    height: 64%;
}

.icon_div {
    position: relative;
    left:5%;
    width: 15%;
    text-align: right;
}

.icon {
    width: 50%;
    min-width: 50px;
    border-radius: 100%;
    border: 1px solid #ff0000;
}

.profile_span_div {
    position: relative;
    top: 10%;
    left: 7%;
    width: 25%;
    font-size: 1vw;
}

.production_span_div {
    position: relative;
    display: inline-block;
    top: 15%;
    width: 55%;
    text-align: center;
}

.production_span {
    font-size:max(4vw,50px);
}

.flex_div2 {
    display: flex;
    height: 20%;
}

.message_icon_div {
    position: relative;
    top: -5%;
    left: 2%;
}

.message_icon {
    width: 3%;
    height: 3%;
    min-width: 30px;
    min-height: 30px;
}

.span_inline_div {
    position: relative;
    top: 5%;
    left: 2.5%;
}

.tag_div {
    position: relative;
    top: -5%;
    left: 4%;
}
