.p {
    color: black;
    font-size: 18px;
}

.p1 {
    color: black;
    font-size: 15px;
}

.p2 {
    font-size: 10px;
}

.box1 {
	position:relative;
	top: 85px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    background-color: #fff; /* 背景色 */
    border: 1px solid white; /* 枠線 */
   }

.box2 {
	position:relative;

    float: left;    /*　左よせ */

	top: -32px;
    width: 100%;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 250px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.box3 {
	position:relative;

    float: left;    /*　左よせ */

	top: -32px;
    width: 500px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 250px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.box4 {
	position:relative;

    float: left;    /*　左よせ */

	top: -32px;
    width: 500px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 250px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.riset_button {
    width: 100px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: red;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: white;
	border: 1px solid red;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
    color: White;
    background: LightGray;
    margin-right: 10px;
    padding: 3px 12px;
    order: -1;
}
.tab-content {
    width: 100%;
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}



.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-item {
    flex: 2; /* これが重要！ */
}

.box5 {
	position:relative;

    float: left;    /*　左よせ */

	top: 480px;
    width: 30%;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 80px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.box6 {
	position:relative;

    float: left;    /*　左よせ */

	top: 480px;
    width: 30%;
    left:2%;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 80px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.box7 {
	position:relative;

    float: right;    /*　左よせ */

	top: 70px;
    width: 300px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 500px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }