/*  戻るボタン */
.return_button {
  position:absolute;
  top:10px;
  left:10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 6px 25px;
  color: #414BB2;
  font-weight: bold;
  letter-spacing: 0.5pt;
  text-decoration: none;
  background-color: white;
  border: 1px solid #414BB2;
  cursor: pointer;
  transition-duration:0.3s;
  -webkit-transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
  -ms-transition-duration:0.3s;
}

.return_button:hover {
  background-color: #6b75da;
  color: #fff;
}

.round {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: aquamarine;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}

.return_box{
	position:relative;
	height:100px;
}

.question_header{
  position:relative;
  height:100px;
  left:10px;
}

.question_title{
  position:absolute;
  left:10px;
}

.question_date{
  position:absolute;
  text-align: right;
  right:10px;
}

.question_user_icon{
  position:absolute;
  left:60px;
  top:-6.5px;
}

.question_user_icon_photo{
  position:absolute;
  left:65px;
  top:-1.5px;
}

.question_photo{
  position:absolute;
  left:30px;
}

.user_data{
  position:absolute;
  top:40px;
  right:10px;
}



.question_box {
	position:relative;

  z-index: -1;

  margin: 2em auto;
  padding: 1em;
  height: 520px;
  background-color: #fff; /* 背景色 */
  border: 2px solid white; /* 枠線 */
}

.question_data{
  position:absolute;
  left:850px;
}

.question_tag{
  position:absolute;
  top:460px;
  left:30px;
}



.answer_box{
  position:relative;

  margin: 2em auto;
  padding: 1em;
  height: 300px;
  background-color: #fff; /* 背景色 */
  border: 2px solid white; /* 枠線 */
}

.answer_text{
  resize: none;
  width: 100%;
  height: 50%;
}

.answer_text:focus {
	border-color: #56a9ff;
	outline: 0;
}

.answer_button{
  position:relative;
  margin-left:auto;
}

.right_button{
  position:absolute;
	right:10px;
}

.underbar{
  border-bottom: 3px solid black;
  width: 100%;
}



.answer_title {
  display: inline-block;
  color: #414BB2;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5pt;
}

.priority_rank_text_yellow {
	font-size: 1.25rem;
	color: yellow;
	-webkit-text-stroke: 1px #000;
}
