h1 {
    border-bottom: 3px solid black;
    width: 100%;
}

h4 {
    border-bottom: 3px solid black;
    width: 100%;
}

.p1 {
    color: blue;
}

.button {
	color:black;
	background-color:white;
	font-size:15;
	width:120px;
	height:40px;
}

/*  戻るボタン */
.return_button {
    width: 200px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: #414BB2;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: white;
	border: 1px solid #414BB2;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}

/*  続きを見るボタン */
.next_button {
    width: 150px;
	height: 40px;
	color: black;
	background-color: white;
	border: 1px solid white;
}

.maru {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: aquamarine;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}

.maru2 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: bisque;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}

.maru3 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: cornflowerblue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}

.maru4 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: darkgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
}


.box1 {
	position:relative;
	top: 180px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 460px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }


.box2 {
	position:relative;
	top: 200px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 150px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.box3 {
	position:relative;
	top: 190px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 150px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }

.box4 {
	position:relative;
	top: 180px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 150px;
    background-color: #fff; /* 背景色 */
    border: 2px solid white; /* 枠線 */
   }
