.home-content {
    text-align: center;
    margin-top: 1%;
}

.content_top {
    display: flex;
    justify-content: center;
}

.area {
    width: 1000px;
    margin: 50px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.tab_class {
    width: calc(100%/5);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

input[name="tab_name"] {
    display: none;
}

input:checked + .tab_class {
    background-color: #414BB2;
    color: aliceblue;
    font-weight: bold;
}

.content_class {
    display: none;
    width: 100%;
}

.question {
    background-color: white;
    color: #333;
    text-decoration: none;
    text-align: left;
}

.title {

	margin: 1rem auto;
	padding: 1rem 1rem 0;
	color: #414BB2;
	font-weight: bold;
    font-size: 1.25rem;
	letter-spacing: 0.5pt;
	/* text-decoration: none; */
	/* background-color: #ffffff; */
	/* border: 1px solid #4169e1; */
    /* text-align: center; */
}

.text {
    margin: 0.5rem 1rem;
}
.text2 {
    display: inline-block;
    margin: 0.5rem 0.1rem;
}

.message_icon {
    width: 2%;
    height: 2%;
    margin-left: 1rem;
    display: inline-block;
}

.message_icon_number {
    display: inline-block;
    margin-right: 0.1rem;
}

.display { 
    display: flex;
}

input:checked + .tab_class + .content_class {
    display: block;
}