.contributor {
	width: 90%;
	background-color: white;
	margin: 0 auto;
}
.content_top {
    display: flex;
}
.title {
    display: inline-block;
	margin: 1rem auto;
	padding: 1rem 1rem 0;
	color: #414BB2;
	font-weight: bold;
    font-size: 2rem;
	letter-spacing: 0.5pt;
}
.content_top_text {
    text-decoration: underline;
	display: inline-block;
	padding-right: 1rem;
	margin-top: 3rem;

	/* アイコンについて */
	background-color: #fff;
	background-position: left 3.8rem bottom 0.3rem;
	background-repeat: no-repeat;
	background-size: 10%;
	background-image: url(../images/user_icon_maru_1.png);
}