h3 {
    border-bottom: 3px solid black;
    width: 1580px;
}

p1 {
    color: blue;
}

maru {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: aquamarine;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
}

maru2 {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: aquamarine;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
}

.box1 {
	position:relative;
	top: 150px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 350px;
    background-color: #fff; /* 背景色 */
    border: 2px solid black; /* 枠線 */
   }

.box2 {
	position:relative;
	top: 180px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 50px;
    background-color: #fff; /* 背景色 */
    border: 2px solid black; /* 枠線 */
   }