h1 {
    border-bottom: 3px solid black;
    width: 100%;
}

h4 {
    border-bottom: 3px solid black;
    width: 100%;
}

p1 {
    color: blue;
}

maru {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: aquamarine;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
}

maru2 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: bisque;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
}

maru3 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: cornflowerblue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
}

maru4 {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: darkgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
}


.box1 {
	position:relative;
	top: 180px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 460px;
    background-color: #fff; /* 背景色 */
    border: 2px solid black; /* 枠線 */
   }

.box2 {
	position:relative;
	top: 200px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 120px;
    background-color: #fff; /* 背景色 */
    border: 2px solid black; /* 枠線 */
   }

.box3 {
	position:relative;
	top: 190px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 120px;
    background-color: #fff; /* 背景色 */
    border: 2px solid black; /* 枠線 */
   }

.box4 {
	position:relative;
	top: 180px;

    z-index: -1;

    margin: 2em auto;
    padding: 1em;
    height: 120px;
    background-color: #fff; /* 背景色 */
    border: 2px solid black; /* 枠線 */
   }